<h1>Traplaアカウント登録メール</h1>

<p><%= @user.name %>さん</p>

<p>
Traplaへようこそ! "登録完了"をクリックしたらアカウント登録を完了します。
</p>

<%= link_to "登録完了", edit_account_activation_url(@user.activation_token, email: @user.email) %>
