<% provide(:title, "Signup") %>
<h1>signup page</h1>
<div class="signup_page">
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">Sign up</div>
        <div class="panel-body">
            <%#= form_for(@user) do |f| %>

              <%#= f.label :name, class:"info" %>
              <%#= f.text_field :name, class:'form-control' %>

              <%#= f.label :email, class:"info" %>
              <%#= f.email_field :email, class: 'form-control' %>

              <%#= f.submit "Create account", class: "btn btn-primary" %>
            <%# end %>
        </div>
      </div>
    </div>
  </div>
</div>
