<% provide(:title, @user.name) %>
<div class="user_gawa">
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">User Infomation</div>
        <div class="panel-body">

            <div class="user_img">
              プロフィール画像
            </div>
            <div class="user_infomation">
              <div class="user_name">Account name : <%= @user.name %></div>
              <div class="user_email">Email Address : <%= @user.email %></div>
              <%= link_to 'ユーザ情報を編集する', edit_user_path(@user) %>
            </div>

        </div>
      </div>
    </div>
  </div>
</div>

<p align="center">記事一覧を表示</p>
