@import 'bootstrap-sprockets';
@import 'bootstrap';

@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c|Montserrat');


//全体
body {
  font-family: 'Montserrat', 'M PLUS Rounded 1c', sans-serif;

  a {
    color: #337ab7;
    text-decoration: none;
  }

  a:hover {
    color: #559cd9;
    text-decoration: none;
  }

  .btn { margin-top: 10px; }

}

main,
footer {
  border-bottom: 1px solid #808080;
  clear: both;

  .background {
    background-color: #aaa;
    margin: 0;
    padding: 20px;
  }

}

//ヘッダー
header {
  background-color: #000;
  border-radius: 0 0 25px 25px;
  left: 0;
  margin: 0 auto;
  padding: 0 5%;
  position: fixed;
  right: 0;
  top: 0;
  width: 70%;

  .logo {
    float: left;
    font-size: 1.7em;
    margin-top: 5px;
  }

  a { color: #eee; }

  a:hover {
    color: #aaa;
    text-decoration: none;
  }

  i {
    font-size: 25px;
  }

  nav {

    ul {
      list-style: none;
      margin: 0;
      text-align: right;

    }

    li {

      display: inline-block;
      margin: 10px;
    }

  }

}

.well {
  margin: 10%;
  padding: 10px;

  > .panel {
    width: 90%;

    > h4 {
      display: block;
      text-align: center;
    }

  }
}

.panel {
  margin: 5% auto;
  width: 60%;

  > .well {
    margin: 10px 20px;
  }

}

.alert-message {
  margin: 0 auto;

  .alert {
    margin-bottom: 0;
  }

}

.pagination {
  display: block;
  margin: 10px auto;
  overflow: hidden;
  width: 70%;

  li > a,
  .active > a,
  .disabled > a {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    border-radius: 5px;
    color: #555;
  }

  > a:hover {
    background-color: #ffe5ee;
  }

}

// メインフレーム
.top-image {
  background-image: image-url('topimage.jpg');
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  width: 100vw;

  h1 {
    color: #fff;
    font-family: 'Syncopate',sans-serif;
    font-size: 20vh;
    margin: 20vh auto;
    text-align: center;
  }

  .btn-group {
    display: block;
    margin: 1vh auto;
  }

  a {
    width: 300px;
  }

}

// サービス説明部分
.service-explain {
  display: block;
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
}

@media screen and (max-width: 730px) {

  .service-image {
    display: block;
  }

}

@media screen and (min-width: 730px) {

  .service-image {
    display: inline-block;
  }

}

.service-image {
  margin: 50px;
  vertical-align: top;
  width: 300px;

  span,
  img,
  p {
    font-size: 24px;
    margin: 1vh auto;
    padding: 0;
  }

  img {
    height: auto;
    width: 80%;
  }

}

// フッター
footer {
  text-align: center;

  ul {
    float: right;
    list-style: none;

    > li {
      float: left;
      margin-left: 15px;
    }

  }


}
