@import 'bootstrap-sprockets';
@import 'bootstrap';

@import url('https://fonts.googleapis.com/css?family=Kodchasan|M+PLUS+1p');

header {
  background-color: #fff;
}

//全体
body {
  font-family: 'M PLUS 1p','Kodchasan', sans-serif;
  padding-top: 51px;
}

header,
main,
footer {
  border-bottom: 1px solid #808080;
  clear: both;
}

.well {
  margin: 10%;
  padding: 10px;

  > .panel {
    width: 90%;

    > h4 {
      display: block;
      text-align: center;
    }

  }
}

.panel {
  margin: 5% auto;
  width: 80%;

  > .well {
    margin: 10px 20px;
  }

}

.alert-message {
  margin: 0 auto;

  .alert {
    margin-bottom: 0;
  }

}

.pagination {
  margin: 10px 20px;
}

.panel-body .btn {
  margin-top: 5px;
}

//ヘッダー
.logo {
  color: #333;
  float: left;
  font-size: 1.7em;
  font-weight: bold;
  letter-spacing: -1px;
  margin-right: 10px;
  padding-top: 9px;
}

.logo:hover {
  color: #666;
  text-decoration: none;
}


// メインフレーム
.top-image {
  background-image: image-url('topimage.jpg');
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  width: 100vw;

  h1 {
    color: #fff;
    font-family: 'Syncopate',sans-serif;
    font-size: 20vh;
    margin: 20vh auto;
    text-align: center;
  }

  .btn-group {
    display: block;
    margin: 1vh auto;
  }

  a {
    width: 300px;
  }

}

// サービス説明部分
.service-explain {
  display: block;
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
}

@media screen and (max-width: 640px) {

  .service-image {
    display: block;
  }

}

@media screen and (min-width: 640px) {

  .service-image {
    display: inline-block;
  }

}

.service-image {
  margin: 50px;
  vertical-align: top;
  width: 300px;

  span,
  img,
  p {
    font-size: 24px;
    margin: 1vh auto;
    padding: 0;
  }

  img {
    height: auto;
    width: 80%;
  }

}

// フッター
footer {
  text-align: center;

  ul {
    float: right;
    list-style: none;

    > li {
      float: left;
      margin-left: 15px;
    }

  }


}
