@import 'bootstrap-sprockets';
@import 'bootstrap';

@import url('https://fonts.googleapis.com/css?family=Kodchasan|M+PLUS+1p');

//全体
header {
  background-color: white;
}

body {
  font-family: 'M PLUS 1p','Kodchasan', sans-serif;
  padding-top: 51px;
}

header, main, footer {
  border-bottom: 1px solid gray;
  clear: both;
}

.well {
  margin: 10%;
  padding: 10px;
  > .panel {
    width: 90%;
    > h4 {
      display: block;
      text-align: center;
    }
  }
}
.panel {
  > .well {
    margin: 10px 20px;
  }
}
.alert_message {
  margin: 0px auto;
  .alert {
    margin-bottom: 0;
  }
}

.pagination {
  margin: 10px 20px;
}

.panel-body .btn {
  margin-top: 5px;
}

.panel {
  width: 80%;
  margin: 5% auto;
}
//ヘッダー
#logo {
  float: left;
  color: #333;
  margin-right: 10px;
  font-size: 1.7em;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #666;
  text-decoration: none;
}


// メインフレーム
.top_image {
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-image: image-url('topimage.jpg');
  background-size: cover;
  overflow: hidden;
  h1 {
    font-family: 'Syncopate',sans-serif;
    margin: 20vh auto;
    font-size: 20vh;
    text-align: center;
    color: #fff;
  }
  .btn-group {
    margin: 1vh auto;
    display: block;
  }
  a {
    width: 300px;
  }
}

// サービス説明部分
.service_explain {
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
  display: block;
}

@media screen and (max-width: 640px) {
  .service_image {
    display: block;
  }
}
@media screen and (min-width: 640px) {
  .service_image {
    display: inline-block;
  }
}

.service_image {
  width: 300px;
  margin: 50px;
  vertical-align:top;
  span, img, p {
    margin: 1vh auto;
    padding: 0;
  }
  img {
    width: 80%;
    height: auto;
  }
  p {
    font-size: 24px;
  }
}

// フッター
footer {
  text-align: center;
  ul {
    float: right;
    list-style: none;
  }
  ul li {
    float: left;
    margin-left: 15px;
  }
}
