.new_plan_detail_gawa {
  width: 60vw;
  margin: 0 auto;
  .panel {
    margin: 0.5vh;
  }
  .container{
    width: auto;
    height: auto;
  }
  h5 {
    clear: both;
    display: block;
    margin: 10px;
    font-size: 1.2em;
  }
  .well {
    background-color: white;
    border-color: lightgray;
    padding: 1vw;
  }
  h4 {
    display: block;
    text-align: center;
  }
  .payments_forms {
    margin: 5px;
    border-bottom: 1px solid lightgray;
    text-align: center;
    overflow: hidden;
    .payments_form {
      float: left;
      display: inline;
      margin: 10px;
      label,input {
        display: block;
      }
    }
  }
  .payments_content {
    clear: both;
    margin: 5px;
  }
}

////////////////////////////////for_test/////////////////////////////////
.plan_detail { background-color: darkgray;}
.plan_detail_left { background-color: violet;}
.plan_detail_date { background-color: gray;}
.plan_detail_time { background-color: darkseagreen;}
.plan_detail_place { background-color: lightgray;}
.plan_detail_action_type { background-color: lightblue;}
.plan_detail_action { background-color: lightyellow;}
.plan_detail_action_memo { background-color: pink;}
.plan_detail_date { background-color: lightgreen;}
.plan_detail_belongings { background-color: gainsboro;}
.plan_detail_payments { background-color: lightskyblue;}
.plan_detail_content { background-color: thistle;}
.plan_detail_right { background-color: blanchedalmond;}
////////////////////////////////for_test/////////////////////////////////

.plan_detail_gawa {
  width: 90vw;
  margin: 10vh auto 1vh;
  padding: 30px;
  overflow: hidden;
  border: solid 1px gray;
  border-radius: 10px;
  border-bottom: solid 1px gray;
  .plan_detail_left {
    width: 65%;
    padding: 10px;
    margin: 10px;
    float: left;
    .plan_detail {
      clear: both;
      margin: 10px;
      overflow: hidden;
    }
    .plan_detail_date {
      padding: 5px;
      float: left;
      width: 20%;
      h2 {
        font-size: 0.8em;
        margin: 5px;
      }
      h3 {
        font-size: 2em;
        margin: 5px;
      }
    }
    .plan_detail_content {
      padding: 5px;
      float: left;
      vertical-align: top;
      width: 80%;
      .plan_detail_time {
        float: left;
        vertical-align:middle;
        padding: 5px;
        border-radius: 5px;
      }
      .plan_detail_place {
        float: left;
        margin-left: 20px;
      }
      .plan_detail_action_type {
        clear: both;
        float: left;
      }
    }
  }
  .plan_detail_right {
    float: left;
    margin: 10px;
    width: 25%;
  }
}
