
.plan_form_gawa {
  width: 90vw;
  margin: 10vh auto 1vh;
  border-bottom: solid 1px gray;
  .panel {
    width: 60%;
    margin: 20px auto;
  }
  .container{
    width: auto;
    height: auto;
  }
  .panel-body {
    a {
      display: block;
      text-align: right;
    }
  }
}

.plan_gawa {
  .panel {
    margin: 20px 10vw;
    padding: 20px;
  }
}

.plan_list {
  overflow: hidden;
  list-style: none;
  .plan_user {
    text-align: center;
    vertical-align: top;
    float: left;
    margin-right: 2vw;
  }
  .plan-overview {
    vertical-align: top;
  }
  .edit_plan_link {
    text-align: right;
  }
}
