////////////////////////////////テスト用色付け/////////////////////////////////
// .plan_detail { background-color: darkgray;}
//   .plan_detail_left { background-color: violet;}
//     .plan_detail_date { background-color: gray;}
//   .plan_detail_content { background-color: thistle;}
//     .plan_detail_content_top { background-color: red;}
//       .plan_detail_time { background-color: green;}
//       .plan_detail_place { background-color: pink;}
//     .plan_detail_content_bottom { background-color: blue;}
//       .plan_detail_action_type { background-color: yellow;}
//       .plan_detail_action { background-color: lightyellow;}
//       .plan_detail_action_memo { background-color: pink;}
//
//   .plan_detail_right { background-color: blanchedalmond;}
//     .plan_detail_belongings { background-color: gainsboro;}
//     .plan_detail_payments { background-color: lightskyblue;}
////////////////////////////////テスト用色付け/////////////////////////////////

// アクティビティ表示用フォーム
// 変数定義
@import url('https://fonts.googleapis.com/css?family=K2D'); //日付用のフォント
$plan_detail_as_same_width: 100px; //時刻とactionマークの横幅を揃える
$plan_detail_content_margin_left: 10px; //コンテンツ列の左マージンを揃える

// 文字を囲う枠のデザイン
%p_with_border {
  p {
    margin: 0;
    padding: 5px 20px 5px 5px;
    border-radius: 10px;
    border: solid 1px gray;
  }
}

// 高さを揃える
%div_as_same_height {
  display:table-cell;
  vertical-align: middle;
  margin: 0;
}
// CSS
.plan_detail_gawa {
  width: 100%;
  margin: 10px;
  padding: 30px;
  overflow: hidden;
  border: solid 1px gray;
  border-radius: 10px;
  border-bottom: solid 1px gray;
  .plan_detail_left {
    width: 900px;
    padding: 10px;
    float: left;
    border-right: solid 2px gray;
    .plan_detail {
      clear: both;
      overflow: hidden;
      .plan_detail_date {
        font-family: 'K2D', sans-serif;
        padding: 5px;
        float: left;
        width: 150px;
        h2 {
          font-size: 1em;
          margin: 5px;
        }
        h3 {
          font-size: 3em;
          margin: 5px;
        }
      }
      .plan_detail_content {
        padding: 0;
        margin: 0;
        float: left;
        vertical-align: top;
        width: 700px;
        .plan_detail_content_top {
          width: 100%;
          overflow: hidden;
          .plan_detail_time {
            @extend %div_as_same_height;
            text-align: center;
            font-family: 'K2D', sans-serif;
            width: $plan_detail_as_same_width;
            min-height: 25px;
            @extend %p_with_border;
          }
          .plan_detail_place {
            min-width: 400px;
            margin-left: $plan_detail_content_margin_left;
            @extend %div_as_same_height;
            @extend %p_with_border;
          }
        }
        .plan_detail_content_bottom {
          .plan_detail_action_type {
            min-height: 100px;
            @extend %div_as_same_height;
            width: $plan_detail_as_same_width;
          }
          .plan_detail_action_memo {
            @extend %div_as_same_height;
            padding: 10px;
            margin: 10px;
            max-width: 580px;
            word-wrap: break-word;
            margin-left: $plan_detail_content_margin_left;
          }
        }
      }
    }
  }
  .plan_detail_right {
    float: left;
    margin: 10px;
    width: 25%;
    .plan_detail_belongings {
      @extend %p_with_border;
    }
    .plan_detail_payments {
      @extend %p_with_border;
    }
  }
}


// アクティビティ用フォーム
.edit_plan_detail {
  margin: 0;
  padding: 0;
  display: none;
}

.add_plan_detail {
  margin: 0;
  padding: 0;
}

.plan_detail_form_gawa {
  margin: 0 auto;
  .panel {
    width: auto;
    margin: 0.5vh;
  }
  .container{
    width: auto;
    height: auto;
  }
  h5 {
    clear: both;
    display: block;
    margin: 10px;
    font-size: 1.2em;
  }
  .well {
    background-color: white;
    border-color: lightgray;
    padding: 1vw;
  }
  h4 {
    display: block;
    text-align: center;
  }
  .payments_forms {
    margin: 5px;
    border-bottom: 1px solid lightgray;
    text-align: center;
    overflow: hidden;
    .payments_form {
      float: left;
      // display: inline;
      margin: 10px;
      label,input {
        display: block;
      }
    }
  }
  .payments_content {
    clear: both;
    margin: 5px;
  }
}
