@import url('https://use.fontawesome.com/releases/v5.6.1/css/fontawesome.css');

@mixin plan-detail-button {
  border: solid 1px #aaa;
  border-radius: 10px;
  color: #555;
  display: block;
  font-size: 1em;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

.plan-list {
  background-color: #f5fffa;
  border: solid 1px #d3d3d3;
  border-radius: 5px;
  box-shadow: 0 0 1px;
  clear: both;
  list-style: none;
  margin: 20px auto;
  overflow: hidden;
  padding: 10px;

  @media screen and (max-width: 730px) {
    .plan-title {
      clear: both;
      font-size: 1.5em;
      text-align: center;
    }

  }

  .edit-plan-link {
    text-align: right;

    i {
      font-size: 25px;
      margin: 10px 5px;
      padding: 0;
    }

   }

}

@media screen and (min-width: 730px) {

  .plan-list {
    width: 70%;

    .plan-content,
    small {
      text-align: left;
    }


  }
}

@media screen and (max-width: 730px) {

  .plan-list {
    width: 90%;
  }
}

.panel-heading {
  padding: 5px;

  > a,
    p {
    @include plan-detail-button;
    border: 0;
    font-size: 23px;
    margin: 0;
    padding: 0;
  }

  h5 {
    margin: 5px auto;
  }

}

.panel-body {

  > .delete-plan {
    text-align: right;
  }

}

.plans {
  margin: 10px 5%;
}

.plan-overview {
  background-color: #f5fffa;
  border-bottom: solid 1px #aaa;
  color: #555;
  padding-bottom: 20px;
  padding-top: 70px;

  h1 {
    font-size: 3em;
    margin-bottom: 50px;
    text-align: center;
  }

  > .plan-content {
    margin: 10px auto;
    width: 70%;

    p {
      font-size: 2em;
      margin-bottom: 30px;
    }

    > a {
      @include plan-detail-button;
    }

    > a:hover {
      @include plan-detail-button;
      background-color: #efe;
    }

  }

}

.plan-belongings {
  border-bottom: solid 1px #aaa;
  margin: 30px 10%;

  > h3 {
    font-size: 2em;
    margin: 20px;
    text-align: center;
  }

  > ul {
    list-style: none;

    > li {
      display: inline;
    }

  }

}

.plan-payments {
  padding: 20px;
  text-align: right;

  > h3 {
    text-decoration: underline;
  }

}
