.new_plan_detail_gawa {
  width: 60vw;
  margin: 0 auto;
  .panel {
    margin: 0.5vh;
  }
  .container{
    width: auto;
    height: auto;
  }
  h5 {
    clear: both;
    display: block;
    margin: 10px;
    font-size: 1.2em;
  }
  .well {
    background-color: white;
    border-color: lightgray;
    padding: 1vw;
  }
  h4 {
    display: block;
    text-align: center;
  }
  .payments_forms {
    margin: 5px;
    border-bottom: 1px solid lightgray;
    text-align: center;
    overflow: hidden;
    .payments_form {
      float: left;
      display: inline;
      margin: 10px;
      label,input {
        display: block;
      }
    }
  }
  .payments_content {
    clear: both;
    margin: 5px;
  }
}

////////////////////////////////for_test/////////////////////////////////
.plan_detail { background-color: darkgray;}
  .plan_detail_left { background-color: violet;}
    .plan_detail_date { background-color: gray;}
  .plan_detail_content { background-color: thistle;}
    .plan_detail_content_top { background-color: red;}
      .plan_detail_time { background-color: green;}
      .plan_detail_place { background-color: pink;}
    .plan_detail_content_bottom { background-color: blue;}
      .plan_detail_action_type { background-color: yellow;}
      .plan_detail_action { background-color: lightyellow;}
      .plan_detail_action_memo { background-color: pink;}

  .plan_detail_right { background-color: blanchedalmond;}
    .plan_detail_belongings { background-color: gainsboro;}
    .plan_detail_payments { background-color: lightskyblue;}
////////////////////////////////for_test/////////////////////////////////
@import url('https://fonts.googleapis.com/css?family=K2D');
.plan_detail_gawa {
  width: auto;
  margin: auto 100px;
  padding: 30px;
  overflow: hidden;
  border: solid 1px gray;
  border-radius: 10px;
  border-bottom: solid 1px gray;
  .plan_detail_left {
    width: 900px;
    padding: 10px;
    float: left;
    .plan_detail {
      clear: both;
      overflow: hidden;
    }
    .plan_detail_date {
      font-family: 'K2D', sans-serif;
      padding: 5px;
      float: left;
      width: 150px;
      h2 {
        font-size: 1em;
        margin: 5px;
      }
      h3 {
        font-size: 3em;
        margin: 5px;
      }
    }
    .plan_detail_content {
      padding: 0;
      margin: 0;
      float: left;
      vertical-align: top;
      width: 700px;
      $plan_detail_time_method_width: 100px;
      $plan_detail_content_margin_left: 10px;
      .plan_detail_content_top {
        width: 100%;
        overflow: hidden;
        .plan_detail_time {
          float: left;
          border-radius: 5px;
          padding: 0;
          margin: 0;
          text-align: center;
          vertical-align: middle;
          font-family: 'K2D', sans-serif;
          width: $plan_detail_time_method_width;
          min-height: 25px;
          p {
            margin: 0;
          }
        }
        .plan_detail_place {
          float: left;
          margin-left: $plan_detail_content_margin_left;
          vertical-align: middle;
          p {
            margin: 0;
          }
        }
      }
      .plan_detail_content_bottom {
        clear: both;
        overflow: hidden;
        .plan_detail_action_type {
          clear: both;
          float: left;
          margin: 0;
          width: $plan_detail_time_method_width;
          min-height: 100px;
        }
        .plan_detail_action_memo {
          float: left;
          margin-left: $plan_detail_content_margin_left;
          max-width: 580px;
          p {
            display: block;
            margin-left: 5px;
          }
        }
      }
    }
  }
  .plan_detail_right {
    float: left;
    margin: 10px;
    width: 25%;
  }
}
