//index
.users {
  list-style: none;
  margin: 10px;

  li {
    border-bottom: 1px solid gray-lighter;
    overflow: auto;
    padding: 10px 0;
  }

}

// show
@media screen and (min-width: 730px) {

  .plan-user {
    float: left;
  }

  .user-img {
    float: left;
    margin: 10px;
    width: 110px;
  }

}

@media screen and (max-width: 730px) {

  .user-img {
    margin: 10px auto;
  }

}

.plan-user {
  margin-right: 2vw;
  text-align: center;
  vertical-align: top;
}

.user-img {
  height: 110px;
  padding: 0;

  img {
    border-radius: 50px;
    height: 100px;
    margin: 0 auto;
    width: 100px;
  }

}

.user-profile {
  text-align: center;

  > img {
    border-radius: 100px;
    height: 200px;
    width: 200px;
  }

}


.edit-user-img {
  border-radius: 10px;
  display: block;
  height: 100%;
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
  width: 100%;

  img {
    border-radius: 10px;
    height: 10vw;
    margin: 0 auto;
    width: 10vw;
  }

}

// edit
.delete-user {
  display: block;
  text-align: right;
}
