
  <% if key.to_s == plan_detail.action_type %>
    <label class="action-btn active">
      <%= plan_detail_f.radio_button :action_type,
                                     key,
                                     {checked: true, class: 'radio-btn'} %>
      <%= value %>
    </label>
  <% else %>
    <label class="action-btn">
      <%= plan_detail_f.radio_button :action_type,
                                     key,
                                     {checked: false, class: 'radio-btn'} %>
      <%= value %>
    </label>
  <% end %>
