<%= render 'users/user_info' %>
<div class="background">
  <% if @plans.any? %>
  <%= will_paginate @plans %>
  <ol class="plans">
    <%= render @plans %>
  </ol>
  <%= will_paginate @plans %>
  <% end %>
</div>
