<% provide(:title, "プラン編集") %>
<% provide(:plan_form_button, 'プランを保存する') %>

<div class="plan_gawa">
  <div class="panel panel-default">
    <%= render 'plans/plan', plan: @plan, user: @plan.user %>
  </div>
</div>

<%= render 'plan_details/plan_detail' %>

<script type="text/javascript">

</script>
