<% provide(:title, 'All plans') %>
<div class="plan_gawa">
  <div class="panel panel-default">
    <h1>プラン一覧</h1>
    <div class="plan_gawa">
      <div class="panel panel-default">
        <%= will_paginate @plans %>
        <ol class="plans">
          <%= render @plans, user: @user %>
        </ol>
        <%= will_paginate @plans %>
      </div>
    </div>
  </div>
</div>
