<% provide(:title, "プラン新規作成") %>
<div class="new_plan_gawa">
  <div class="container">
    <div class="panel panel-default">
      <div class="panel-heading">プラン概要</div>
        <div class="panel-body">

        </div>
      </div>
    </div>
  </div>
</div>
